<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <form class="form-horizontal">
    <div class="form-group col-sm-7">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar, class: 'btn btn-default' %>
    </div>
    <div class="form-group col-sm-7">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :surname %><br />
      <%= f.text_field :surname, autofocus: true, class: 'form-control', placeholder: 'Surname' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :phone_no %><br />
      <%= f.text_field :phone_no, autofocus: true, class: 'form-control', placeholder: 'Phone_no' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :home_town %><br />
      <%= f.text_field :home_town, autofocus: true, class: 'form-control', placeholder: 'Hometown' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :birth_day %><br />
      <%= f.date_field :birth_day, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  </form>
<% end %>

<div class="form-group col-sm-7">
  <%= render "devise/shared/links" %>
</div>